{% extends "base.html" %}
{%  block body %}

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="pills-stats-tab" data-toggle="pill" href="#pills-stats" role="tab"
               aria-controls="pills-stats" aria-selected="true"><i class="fas fa-car-battery"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="pills-light-tab" data-toggle="pill" href="#pills-light" role="tab"
               aria-controls="pills-light" aria-selected="false"><i class="fas fa-lightbulb"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-fridge-tab" data-toggle="pill" href="#pills-fridge" role="tab"
               aria-controls="pills-fridge" aria-selected="false"><i class="far fa-snowflake"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-music-tab" data-toggle="pill" href="#pills-music" role="tab"
               aria-controls="pills-music" aria-selected="false"><i class="fas fa-music"></i></a>
        </li>
    </ul>
    <div class="tab-content pt-2 pl-1" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-stats" role="tabpanel" aria-labelledby="pills-stats-tab">
            BATTERY STATS
        </div>
        <div class="tab-pane fade" id="pills-light" role="tabpanel" aria-labelledby="pills-light-tab">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="frontLight">
                <label class="custom-control-label" for="frontLight">Licht vorne</label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="backLight">
                <label class="custom-control-label" for="backLight">Licht hinten</label>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-fridge" role="tabpanel" aria-labelledby="pills-fridge-tab">
            CHANGE FRIDGE STUFF
        </div>
        <div class="tab-pane fade" id="pills-music" role="tabpanel" aria-labelledby="pills-music-tab">
            CHANGE MUSIC STUFF
        </div>

    </div>

{%  endblock %}