{%  extends "layout.html" %}
{%  block content %}
    <!--<div class="col-12">-->
    <!--<div class="col-12 contentWrapper">-->
        <div class="row" style="height:20%;">
        </div>
        <div class="row" style="height:50%;">
            <div id="lightBackDiv" class="col-6">
                <span class="row justify-content-center">Hinten</span>
                <div class="row justify-content-center">
                    <form action="{{ url_for('main.ctrl_light')}}" method="post">
                        <button name="backLightSwitch" class="btn-floating btn-lg btn-default" type="submit">
                            <i class="fas fa-lightbulb"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div id="lightFrontDiv" class="col-6">
                <span class="row justify-content-center">Vorne</span>
                <div class="row justify-content-center">
                    <form action="{{ url_for('main.ctrl_light')}}" method="post">
                        <button name="frontLightSwitch" class="btn-floating btn-lg btn-default" type="submit">
                            <i class="fas fa-lightbulb"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row" style="height:30%;">
        </div>
    <!--</div>-->
        <!--</div>-->
    <!--<div class="col">-->
        <!--<div class="row">-->
            <!--Back-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<i class="fas fa-lightbulb"></i>-->
        <!--</div>-->
    <!--</div>-->
{% endblock %}