[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"RPi.GPIO" = "*"
PyBluez = "*"
regex = "*"
Adafruit-ADS1x15 = "*"


[dev-packages]

[requires]
python_version = "3"

# OTHER NEED RESSOURCES
#
# Necessary Headers etc:
# sudo apt-get install libbluetooth-dev
#
# bluetooth Profile not found error see:
# https://stackoverflow.com/questions/36675931/bluetooth-btcommon-bluetootherror-2-no-such-file-or-directory
#
# bluetooth permission denied error see:
# https://stackoverflow.com/questions/34599703/rfcomm-bluetooth-permission-denied-error-raspberry-pi
#
# enable i2c and 1-wire bus
# also start on reboot: https://www.einplatinencomputer.com/raspberry-pi-1-wire-temperatursensor-ds1820-ansteuern/

